<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-900 flex items-center justify-center h-screen">

<div class="bg-slate-800 p-8 rounded-2xl w-80 shadow-lg">
    <h2 class="text-white text-xl mb-4 text-center">Register</h2>

    <input id="email" class="w-full mb-2 p-2 rounded bg-slate-700 text-white" placeholder="Email">
    <input id="password" type="password" class="w-full mb-2 p-2 rounded bg-slate-700 text-white" placeholder="Password">
    <input id="first_name" class="w-full mb-2 p-2 rounded bg-slate-700 text-white" placeholder="First name">
    <input id="last_name" class="w-full mb-4 p-2 rounded bg-slate-700 text-white" placeholder="Last name">

    <button onclick="register()" class="w-full bg-green-500 hover:bg-green-600 text-white p-2 rounded">
        Register
    </button>

    <p onclick="goLogin()" class="text-blue-400 text-center mt-4 cursor-pointer">
        Back to login
    </p>
</div>

<script src="/static/js/auth.js"></script>

</body>
</html>